html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: #1f2937;
}

h1 {
  margin: 0 auto;
  margin-left: 100px;
  margin-top: 120px;
  width: 680px;
  font-family: Karla;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -0/0.05em;

  color: #ffffff;
}
h2 {
  width: 744px;
  margin-left: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #d5d4d8;
}
#green {
  color: #34d399;
}

.gen {
  cursor: pointer;
  margin-top: 100px;
  margin-left: 120px;
  justify-content: center;
  padding: 9px 17px 9px 15px;
  width: 400px;
  height: 70px;
  left: 104px;
  top: 600px;
  background: #10b981;
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 80px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-bottom: 130px;
}
.pass {
  display: flex;
  margin-left: 100px;
  margin-bottom: 50px;

  /* margin-top: 90px; */
}

.pass-row {
  cursor: pointer;
  width: 800px;
  height: 64px;
  padding-top: 20px;
  margin-right: 10px;
  margin-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;

  text-align: center;

  color: #55f991;
  background: #273549;
  border-radius: 5px;
}
